.contenedor {
  position: relative;
  height: 500px;
}

.columna1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  background-color: #f0f0f0;
}
.columna2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  background-color: #e0e0e0;
}