body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.formulario {
  max-width: 420px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 25px;
  background-color: antiquewhite;
}

input[type="text"],
textarea {
  width: 100%;
  background-color: #f6f6f6;
}

.puntuacion label {
  font-size: 22px;
  margin-right: 4px;
}
