p.normal {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

p.light {
    font-weight: lighter;
}

p.thick {
    font-weight: bold;
}

p.thicker {
    font-weight: 900;
}

p.small {
    font-variant: small-caps;
}