body {
    background-color: #FFFFCC;
    background-image: url('../imagenes/paisaje.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}