table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #EAF2D3;
}

tr:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

caption {
    caption-side: bottom;
}