#p1 {
    letter-spacing: 2px;
}

#p2 {
    letter-spacing: -1px;
}

#p3 {
    line-height: 1.2;
}

#p4 {
    line-height: 2.5;
}

#p5 {
    word-spacing: 10px;
}

#p6 {
    word-spacing: -2px;
}

#p7 {
    text-shadow: 2px 2px 2px red;
}

#p8 {
    text-shadow: 0 0 5px blue;
}